MERAKI_ULR=
ENDPOINT_INFO_CUSTOMER=
ENDPOINT_ORGANIZATION=
ENDPOINT_LICENSE=
MERAKI_API_KEY=
EMAIL_USER=
EMAIL_PASS=
EMAIL_SERVER=
CISCO_TOKEN_PAYLOAD=
URL_TOKEN=
URL_VIRTUAL_ACCOUNTS=
URL_LICENSES=
EXCEPTION_NAME=